.bg-agro {
  background-image: url(../img/banner-Agro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;


}

a#logo-bc-agro{
  color:#a8c71b !important;
}

a#logo-bc-home{
    color: var(--primary) !important;
  }
  
a#logo-bc-home:hover{
color: var(--secondary) !important;
}
  