.bg-financeiro {
  
  background-image: url(../img/banner-bc.jpg);
  background-repeat: no-repeat;
  background-size: 100% 640px;
  background-position: center 50%;
  
}

a#logo-bc-financeiro{
  color:#2fb4e5 !important;
}

a#logo-bc-home{
  color: var(--primary) !important;
}

a#logo-bc-home:hover{
  color: var(--secondary) !important;
}

