.fixed-top{
    background-color: white;
    border-bottom: 1px solid #dedede;
    z-index: 1050;
}
.teste {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
/* css do icon Volta ao Topo*/
.fixed-back-top{
    position:fixed;
    z-index:998; 
    left:94%; 
    top:90%;
    overflow:hidden;
    padding:6px;
    border-radius: 150px;
  }

  .fas.fa-arrow-circle-up{
    color: black;
    -webkit-text-stroke-width: 2px;
    
  }

  .fas.fa-arrow-circle-up:hover{
    color: transparent;
    -webkit-text-stroke-color: black;
  }

/*Fim */
.home{
    font-size: 11px;
}
i.fa-home {
    font-size: 25px;
}
.menu {
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
}
a#logo-bc-financeiro:hover, a#logo-bc-financeiro:focus{
    color:#00a9fd !important;
}
a#logo-bc-agro:hover, a#logo-bc-agro:focus{
    color:#86a436 !important;
}
#logo-bc-agro{
    display: inline-block;
    position: relative;
}

#logo-bc-agro figcaption{
    position: absolute;
    top: 19px; /*30px*/
    right: 29px; /*36px*/
    font-size: 14px;
    color: #0a1c2d;
    text-shadow: -2px 0px 5px black;
    transform: rotate(-0);
}

#logo-bc-pol{
    display: inline-block;
    position: relative;
}

#logo-bc-pol figcaption{
    position: absolute;
    top: 21px; /*30px*/
    right: 8px; /*36px*/
    font-size: 14px;
    color: #0a1c2d;
    text-shadow: -2px 0px 5px black;
    transform: rotate(-0);
}

#logo-bc-tr{
    display: inline-block;
    position: relative;
}

#logo-bc-tr figcaption{
    position: absolute;
    top: 21px; /*32px*/
    right: 32px; /*36px*/
    font-size: 14px;
    color: #0a1c2d;
    text-shadow: -2px 0px 5px black;
    transform: rotate(-0);
}

#logo-bc-sol{
    display: inline-block;
    position: relative;
}

#logo-bc-sol figcaption{
    position: absolute;
    top: 21px; /*30px*/
    right: 11px; /*36px*/
    font-size: 14px;
    color: #0a1c2d;
    text-shadow: -2px 0px 5px black;
    transform: rotate(-0);
}