ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.home{
    font-size: 11px;
}
i.fa-home {
    font-size: 25px;
}
.menu {
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
}

#logo-bc-agro{
    display: inline-block;
    position: relative;
}

#logo-bc-agro figcaption{
    position: absolute;
    top: 1px;
    right: 22px;
    font-size: 18px;
    color: #0a1c2d;
    text-shadow: -2px 0px 5px black;
    transform: rotate(-25deg);
}

#logo-bc-pol{
    display: inline-block;
    position: relative;
}

#logo-bc-pol figcaption{
    position: absolute;
    top: -14px;
    right: 22px;
    font-size: 17px;
    color: #0a1c2d;
    text-shadow: -2px 0px 5px black;
    transform: rotate(-0deg);
}

#logo-bc-tr{
    display: inline-block;
    position: relative;
}

#logo-bc-tr figcaption{
    position: absolute;
    top: 23px;
    right: 32px;
    font-size: 16px;
    color: #0a1c2d;
    text-shadow: -2px 0px 5px black;
    transform: rotate(-0);
}

#logo-bc-sol{
    display: inline-block;
    position: relative;
}

#logo-bc-sol figcaption{
    position: absolute;
    top: -13px;
    right: 18px;
    font-size: 16px;
    color: #0a1c2d;
    text-shadow: -2px 0px 5px black;
    transform: rotate(-0);
}