<!doctype html>
<html lang="pt-br">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Broadcast Comercial CSS -->
    <link rel="stylesheet" href="../static/css/bcprodutos.css">
    <link rel="stylesheet" href="../static/css/menu.css">

    <!-- Fontawesome Icons CSS -->
    <link rel="stylesheet" href="../static/node_modules/@fortawesome/fontawesome-free/css/all.css">
    {%block css %}{% endblock %}
    <title>Broadcast Produtos{% block title %}{% endblock %}</title>
  </head>
  <body>
    {%block nav %}
    <!-- Nav Menu -->
    <nav class="navbar navbar-expand-md navbar-light bg-gradient-light">
        <!--
      <a class="navbar-brand" href="{{url_for('home')}}">
          <img src="../static/img/logo-bcComercial.png" height="40" width="auto" alt="Broadcast Comercial">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav menu">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="../static/img/LOGO-BC-Financeiro.png" height="40" width="auto" alt="Broadcast Financeiro">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{url_for('bpro_terminal')}}">Desktop</a>
                    <a class="dropdown-item" href="#"><span style="color: grey">Web</span> (Em Breve)</a>
                    <a class="dropdown-item" href="#"><span style="color: grey">Wallboard</span> (Em Breve)</a>
                </div>
            </li>
            <li class="nav-item dropdown" style="opacity: 0.3; filter: alpha(opacity=30);">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img  src="../static/img/LOGO-BC-Agro.png" height="40" width="auto" alt="Broadcast Agro">
                </a>
                <!--div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Desktop</a>
                    <a class="dropdown-item" href="#">Web</a>
                    <a class="dropdown-item" href="#">Wallboard</a>
                </div-->
            </li>
            <li class="nav-item" style="opacity: 0.3; filter: alpha(opacity=30);">
                <a class="nav-link" href="#">
                    <img src="../static/img/LOGO-BC-Político.png" height="40" width="auto" alt="Broadcast Político">
                </a>
            </li>
            <li class="nav-item" style="opacity: 0.3; filter: alpha(opacity=30);">
                <a class="nav-link" href="#">
                    <img  src="../static/img/LOGO-BC-TradingNews.png" height="40" width="auto" alt="Broadcast TradingNews">
                </a>
            </li>
            <li class="nav-item dropdown" style="opacity: 0.3; filter: alpha(opacity=30);">
                <a class="nav-link dropdown-toggle mt-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>Soluções</b>
                </a>
                <!--div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"></a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div-->
            </li>
        </ul>
      </div>
    </nav>
    {%endblock%}
    {%block content%}{% endblock %}
    {%block footer%}
    <!-- Footer -->
    <footer class="footer">
        <div class="col-md-6 offset-md-3 text-center">
            <h4 class="text-uppercase mb-4">Siga nossas Redes Sociais</h4>
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a class="btn btn-outline-secondary text-center rounded-circle" href="#">
                    <i class="fab fa-fw fa-facebook-f"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn btn-outline-secondary text-center rounded-circle" href="#">
                    <i class="fab fa-fw fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn btn-outline-secondary text-center rounded-circle" href="#">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn btn-outline-secondary text-center rounded-circle" href="#">
                    <i class="fab fa-fw fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    
    <!-- Copyright -->
    <div class="copyright py-4 text-center text-primary">
        <div class="container">
            <small>Copyright © AE - Agência Estado - broadcast comercial 2019</small>
        </div>
    </div>
    {% endblock %}
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/node_modules/jquery/dist/jquery.js"></script>
    <script src="../static/node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../static/node_modules/chart.js/dist/chart.js"></script>

    <!-- Optional JavaScript -->
    <script src="../static/js/chart-model-001.js"></script>
    {%block scripts%}{% endblock %}
  </body>
</html>