{%extends 'base1.html'%}
{%block css %}
<link rel="stylesheet" href="../static/css/bc-agro.css">
{% endblock %}
{% block title %}: BAGRO Desktop{% endblock %}
{%block content%}
    <!-- Jumbotrom -->
    <div class="jumbotron jumbotron-fluid bg-agro">
        <div class="container text-center">
            <h1>O Agronegócio em Tempo Real</h1>
        </div>
    </div>

    <!-- Content Site -->
    <main role="main">
        <!-- Section Intro -->
        <section class="jumbotron bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <img src="../static/img/Agro.png" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-6">
                        <!--p class="mt-5">O Broadcast+ é uma solução líder no Mercado Financeiro Brasiliero, com Notícias e Cotações em tempo real, Análises e uma diversodade de recursos que possibilitam ao usuário oportunidades de negócios e as melhores decisões de investimentos.</p-->
                        <p class="mt-5">O BROADCAST AGRO É UM CONJUNTO DE SOLUÇÕES QUE ATENDE TODOS OS PROFISSIONAIS DO SETOR DE AGRONEGÓCIOS, DESDE O PRODUTOR AO TRADER, PARA ACOMPANHAMENTO DO MERCADO, ANÁLISES E TOMADA DE DECISÕES.</p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Section -->
        <section class="jumbotron bg-light">
            <div class="container">
                <p class="lead text-center mb-5">Ao se tornar usuário do Broadcast Agro, os seguintes conteúdos e funcionalidades são adquiridas:</p>
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title agro">COTAÇÕES</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h5>
                                        AÇÕES <br/>
                                        <small class="text-muted">Bovespa, Nyse, Nasdaq, Bolsa de Madri.</small>
                                    </h5>
                                </li>
                                <li class="list-group-item">
                                    <h5>
                                        CÂMBIO <br/>
                                        <small class="text-muted">Taxas Broadcast, BM&F, CME, ICE US.</small>
                                    </h5>
                                </li>
                                <li class="list-group-item">
                                    <h5>
                                        PREÇOS FÍSICOS <br/>
                                        <small class="text-muted">Broadcast, CEPEA/ESALQ e Scot Consultoria (Boi Gordo).</small>
                                    </h5>
                                </li>
                                <li class="list-group-item">
                                    <h5>
                                        FOB & PRÊMIO - SOJA <br/>
                                        <!--small class="text-muted">...</small-->
                                    </h5>
                                </li>
                                <li class="list-group-item">
                                    <h5>
                                        FERTILIZANTES <br/>
                                        <small class="text-muted">Soja e Milho</small>
                                    </h5>
                                </li>
                                <li class="list-group-item">
                                    <h5>
                                        FRETES MINI <br/>
                                        <small class="text-muted">As seis principais rotas rodoviárias de Grãos até às regiões de Paranaguá (PR), Rio Grande (RS) e Santos (SP).</small>
                                    </h5>
                                </li>
                                <li class="list-group-item">
                                    <h5>
                                        ÍNDICES <br/>
                                        <small class="text-muted">Bovespa (B3), Dow Jones, S&P, Euronext, FTSE, Deutsche Borse (DAX), Nasdaq e entre outros.</small>
                                    </h5>
                                </li>
                                <li class="list-group-item">
                                    <h5>
                                        TAXAS E INDICADORES <br/>
                                        <small class="text-muted">Taxas Broadcast, Taxas de Banco Centrais e de Câmbio, e Indicadores Agrícolas.</small>
                                    </h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title agro">FUNCIONALIDADES</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h5>
                                        PRINCIPAIS RECURSOS<br/>
                                        <small class="text-muted">Janela e painel de cotações, livro de ofertas, análise técnica, times & trades, players, ativoteca e busca de notícias.</small>
                                    </h5>
                                </li>
                                <li class="list-group-item">
                                        <h5>
                                            CLIMA SOMAR<br/>
                                            <small class="text-muted">* Versão Light para o Broadcast AGRO TRADE</small>
                                        </h5>
                                    </li>
                                <li class="list-group-item">
                                    <h5>
                                        ALERTAS<br/>
                                        <small class="text-muted">Cotações e Notícias.</small>
                                    </h5>
                                </li>
                                <li class="list-group-item">
                                    <h5>
                                        BROADCAST CHAT<br/>
                                        <small class="text-muted">Troca de mensagens individuais e em grupo, disponível também no aplicativo móvel - Android e iOS</small>
                                    </h5>
                                </li>
                                <li class="list-group-item">
                                    <h5>
                                        LINK RTD/DDE<br/>
                                        <small class="text-muted">Captura de dados, em streaming, do Broadcast para planilhas em Excel.</small>
                                    </h5>
                                </li>
                                <li class="list-group-item">
                                    <h5>
                                        PRECIFICAÇÃO DE OPÇÕES<br/>
                                        <small class="text-muted">Estratégias com visão multi-leg, fluxo de caixa e visualização gráfica integradas. Volatilidades histórica e implícita, gregas e valores intrínsecos e extrínsecos.</small>
                                   </h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section PACOTES -->
        <section class="jumbotron bg-white">
            <div class="container">
                <h2 class="text-center text-uppercase text-secondary mt-0 mb-0">PACOTES</h2>
                <hr class="hr-icon hr-products mb-5">
        
                <div class="accordion mb-5" id="accordion">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <button id="pctAgroTrade" onclick="pctAgroTrade()" class="btn btn-link agro" type="button" data-toggle="collapse" data-target="#collapseAgroTrade" aria-expanded="false" aria-controls="collapseAgroTrade">
                                BROADCAST AGRO TRADE
                            </button>
                            <h4 class="float-sm-right text-secondary">R$430</h4>
                            <!---->
                            <div id="collapseAgroTrade" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link agro active" id="bct-descricao" data-toggle="tab" href="#bctdescricao1" role="tab" aria-controls="home" aria-selected="true">DESCRIÇÃO</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link agro" id="bct-ganhos" data-toggle="tab" href="#bctganhos1" role="tab" aria-controls="profile" aria-selected="false">DIFERENCIAL</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active " id="bctdescricao1" role="tabpanel" aria-labelledby="home-tab">
                                            
                                            <div class="mt-4 mb-4">
                                                <!--
                                                <h5>Market Data para Negociação em Bolsa</h5>
                                                -->
                                                <p>A Solução Broadcast AGRO TRADE é destinado aos profissionais do Agronegócio que buscam informações deste mercado disponibilizadas em uma plataforma centralizada, intuitiva e que permite o acompanhamento, em tempo real, de cotações e notícias relevantes do mercado agrícola.</p>
                                                <p>Disponibilizando para seus usuários o acesso ao noticioso Agro Fast, que trás uma cobertura sucinta das principais culturas, setores, empresas, eventos e ambientes político voltado para o agronegócio, macroeconomia e câmbio.</p>
                                                <!--
                                                <p>Além disso, o Pacote Broadcast Trade, disponibiliza cotações com delay das principais Bolsas de Valores do Brasil, EUA e Europa, dados em tempo real de alguns dos principais Indicadores de Inflação, Taxas de Câmbiode, de Juros e de Commodities, Libor, paridades das principais moedas do mundo, Preços Fisicos e Indicadores colhidos e calculados pelo CEPEA e dados de contribuição de Grandes Bancos, Corretoras e Assets sobre Câmbio e Renda Fixa.</p>
                                                -->
                                                
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="bctganhos1" role="tabpanel" aria-labelledby="profile-tab">
                                            <div class="card-deck mt-4">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title agro">Notícas</h5>
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item"><i class="far fa-newspaper text-secondary"></i> Agro News Fast</li>
                                                            <li class="list-group-item"><i class="far fa-newspaper text-secondary"></i> Broadcast TV</li>
                                                            <li class="list-group-item"><i class="far fa-newspaper text-secondary"></i> Estadão (Esportes, Jornal Digital e Portal)</li>
                                                            <li class="list-group-item"><i class="far fa-newspaper text-secondary"></i> Contribuidores - Agência Bovespa, Radar Investimento (Boi Gordo)</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title agro">Principais </h5>
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item">
                                                                <i class="fas fa-file-download text-secondary"></i>
                                                                <a href="http://intranet/intranetae/uploads/BIP07_18_AddOn%20Político.pdf">(BC-19869) Add-On Político</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <i class="fas fa-file-download text-secondary"></i>
                                                                <a>(BC-14167) Análise Fundamentalista - Capital Aberto</a>
                                                            </li>
                                                            <!--li class="list-group-item">
                                                                <i class="fas fa-file-download text-secondary"></i>
                                                                <a href="http://intranet/intranetae/uploads/BIP06_17_TTR_Empresas%20Privadas.pdf">(BC-19724) Análise Fundamentalista - Capital Aberto e Fechado</a>
                                                            </li-->
                                                            <li class="list-group-item">
                                                                <i class="fas fa-file-download text-secondary"></i>
                                                                <a href="http://intranet/intranetae/uploads/BIP03_14_Dados%20de%20Transacoes.pdf">(BC-15171) Deal Data - TTR</a>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <i class="fas fa-file-download text-secondary"></i>
                                                                <a href="http://intranet/intranetae/uploads/BIP08_16_Fundos%20de%20Investimento.pdf">(BC-14166) Fundos de Investimento</a>
                                                            </li>
                                                        </ul>
                                                        <small><a href="{{ url_for('comparativo', _anchor='cont-adc-pago-bagro') }}">Acessar lista completa de serviços comercializados avulsos.</a></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <button id="pctAgro" onclick="pctAgro()" class="btn btn-link collapsed agro" type="button" data-toggle="collapse" data-target="#collapseAgro" aria-expanded="false" aria-controls="collapseAgro">
                                BROADCAST AGRO
                            </button>
                            <h4 class="float-sm-right text-secondary">R$900</h4>
                            <!---->
                            <div id="collapseAgro" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link agro active" id="bct-descricao" data-toggle="tab" href="#bctdescricao2" role="tab" aria-controls="home" aria-selected="true">DESCRIÇÃO</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link agro" id="bct-ganhos" data-toggle="tab" href="#bctganhos2" role="tab" aria-controls="profile" aria-selected="false">DIFERENCIAL</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent1">
                                            <div class="tab-pane fade show active" id="bctdescricao2" role="tabpanel" aria-labelledby="home-tab">
                                                
                                                <div class="mt-4 mb-4">
                                                    <p>A Solução Broadcast AGRO oferece uma cobertura completa e em tempo real do mercado agrícola, cotações de futuros nas principais bolsas, preços físicos de commodities, preços de fretes para Álcool, Café Arábica e Grãos distribuídos em mais de 150 rotas rodoviárias, estimativas de safras e line up de navios nos principais portos de exportação de commodities agrícolas.</p>
                                                    <p>Sua cobertura noticiosa conta com o Agro News, principal caderno de notícias agrícolas do Brasil, o Conjuntura e Finanças para um acompanhamento dos aspectos econômicos e políticos nacionais e internacionais e diversos relatórios e análises de parceiros que são referência no agronegócio.</p>
                                                    
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="bctganhos2" role="tabpanel" aria-labelledby="profile-tab">
                                                <div class="alert alert-secondary mt-3 text-center" role="alert">
                                                    Conteúdo do Broadcast Agro Trade +
                                                </div>
                                                <div class="card-deck mt-4">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h5 class="card-title agro">Notícias e Cotações</h5>
                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item"><i class="far fa-newspaper text-secondary"></i> Agro News + Top News Agro</li>
                                                                <li class="list-group-item"><i class="far fa-newspaper text-secondary"></i> Conjuntura & Finanças</li>
                                                                <li class="list-group-item"><i class="far fa-newspaper text-secondary"></i> Conjuntura & Negócios</li>
                                                                <li class="list-group-item"><i class="far fa-newspaper text-secondary"></i> Cenários e Mercados Agrícolas</li>
                                                                <li class="list-group-item"><i class="far fa-newspaper text-secondary"></i> Radar da Imprensa Agro</li>
                                                                <li class="list-group-item"><i class="far fa-newspaper text-secondary"></i> Newspaper e Newsletters Agrícolas</li>
                                                                <li class="list-group-item"><i class="far fa-newspaper text-secondary"></i> Relatórios e Análises Agrícolas de diversos Parceiros</li>
                                                                <li class="list-group-item"><i class="far fa-newspaper text-secondary"></i> Estadão (Esportes, Jornal Digital e Portal)</li>
                                                                <li class="list-group-item"><i class="far fa-exchange-alt text-secondary"></i> Bovinos - Mercado de Reposição</li>
                                                                <li class="list-group-item"><i class="far fa-exchange-alt text-secondary"></i> Estimativas de Safras</li>
                                                                <li class="list-group-item"><i class="far fa-exchange-alt text-secondary"></i> Fretes Full</li>
                                                                <li class="list-group-item"><i class="fas fa-exchange-alt text-secondary"></i> Markit CDS Índices</li>
                                                                <li class="list-group-item"><i class="fas fa-exchange-alt text-secondary"></i> Títulos Públicos Anbima</li>
                                                                <li class="list-group-item"><i class="fas fa-exchange-alt text-secondary"></i> Treasuries Americanas</li>
                                                                <li class="list-group-item"><i class="fas fa-exchange-alt text-secondary"></i> Contribuidores - Câmbio e Renda Fixa</li>
                                                                
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h5 class="card-title agro">Principais </h5>
                                                            <ul class="list-group list-group-flush">
                                                                <li class="list-group-item">
                                                                    <i class="fas fa-file-download text-secondary"></i>
                                                                    <a href="http://intranet/intranetae/uploads/BIP07_18_AddOn%20Político.pdf">(BC-19869) Add-On Político</a>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <i class="fas fa-file-download text-secondary"></i>
                                                                    <a>(BC-14167) Análise Fundamentalista - Capital Aberto</a>
                                                                </li>
                                                                <!--li class="list-group-item">
                                                                    <i class="fas fa-file-download text-secondary"></i>
                                                                    <a href="http://intranet/intranetae/uploads/BIP06_17_TTR_Empresas%20Privadas.pdf">(BC-19724) Análise Fundamentalista - Capital Aberto e Fechado</a>
                                                                </li-->
                                                                <li class="list-group-item">
                                                                    <i class="fas fa-file-download text-secondary"></i>
                                                                    <a href="http://intranet/intranetae/uploads/BIP03_14_Dados%20de%20Transacoes.pdf">(BC-15171) Deal Data - TTR</a>
                                                                </li>
                                                                <li class="list-group-item">
                                                                    <i class="fas fa-file-download text-secondary"></i>
                                                                    <a href="http://intranet/intranetae/uploads/BIP08_16_Fundos%20de%20Investimento.pdf">(BC-14166) Fundos de Investimento</a>
                                                                </li>
                                                            </ul>
                                                            <small><a href="{{ url_for('comparativo', _anchor='cont-adc-pago') }}">Acessar lista completa de serviços comercializados avulsos.</a></small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </section>
    </main>
{%endblock%}



{%block scripts%}
<script type="text/javascript" src="../static/js/bcagro.js"></script>
{%endblock%}
