{% extends 'base.html'%}
{%block content%}
    <!-- Jumbotrom -->
    <div class="jumbotron jumbotron-fluid bkg-jumbotronTop">
        <div class="container text-center">
            <h1 class="display-4">Seja Bem Vindo!</h1>
            <p class="lead">Aqui você encontra Informações e Políticas de Comercialização de todos os Produtos e Serviços Broadcast.</p>
            <div class="form col-md-6 offset-md-3">    
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar em nossos produtos..." aria-label="Buscar em nossos produtos..." aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" id="button-addon2">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Content Site -->
    <main class="container">
        
            <!-- Section Products -->
            <section id="products">
                <h2 class="text-center text-uppercase text-secondary mb-0">Explore mais Nossos Conteúdos</h2>
                <hr class="hr-icon hr-products mb-5">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <div class="card text-center">
                            <i class="fas fa-sync-alt fa-5x"></i>
                            <div class="card-body">
                                <h5 class="card-title">Pacotes</h5>
                                <p class="card-text">Compare os pacotes por plataformas e identifique qual melhor se adequa as necessidades do seu cliente.</p>
                                <a href="{{url_for('ppp')}}" class="btn btn-secondary">Acessar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card text-center">
                            <i class="far fa-newspaper fa-5x"></i>
                            <div class="card-body">
                                <h5 class="card-title">Noticiosos</h5>
                                <p class="card-text">Conheça todos os cadernos disponíveis em nossas plataformas, com suas coberturas e caracteristicas.</p>
                                <a href="#" class="btn btn-secondary">Acessar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card text-center">
                            <i class="fas fa-chart-line fa-5x"></i>
                            <div class="card-body">
                                <h5 class="card-title">Cotações</h5>
                                <p class="card-text">Descubra quais Fontes, Mercados e Ativos que cobrimos e como comercializa-los</p>
                                <a href="{{url_for('cotacao')}}" class="btn btn-secondary">Acessar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="card text-center">
                            <i class="fas fa-tools fa-5x" style="color: grey"></i>
                            <div class="card-body">
                                <h5 class="card-title" style="color: grey">Ferramentas</h5>
                                <p class="card-text">Conheça nossas ferramentas e suas funcionalidades segmentadas por plataformas.</p>
                                <a href="#" class="btn btn-secondary">Acessar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Section FAQ -->
            <section id="faq">
                <h2 class="text-center text-uppercase text-secondary mt-5 mb-0">Veja as dúvidas mais frequentes</h2>
                <hr class="hr-icon hr-what mb-5">
        
                <div class="accordion mb-5" id="accordionExample">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                Quais as novidades da versão do Broadcast+?
                            </button>
                            <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                Quais fontes de cotações fazem parte do Broadcast+?
                            </button>
                            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                Quais as principais formas de entrega de conteúdo?
                            </button>
                            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                Quais os tipos de contribuição e como ser contribuidor das plataformas Broadcast?
                            </button>
                            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="{{url_for('faq')}}">
                    <div class="alert alert-secondary mt-3 text-center" role="alert">
                        Veja Mais
                    </div>
                    </a>
                </div>
                
            </section>
        </main>
    
{%endblock%}